:root {
  --background-color: #2e1760;
  --text-color: #dff3e4;
  --button-color: #ef946c;
  --button-color-hover: #df845c;
  --extra-color: #3423a6;
  --font-family: system-ui, sans-serif;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--background-color);
}
.playlist {
  display: none;
}
.button {
  background-color: var(--button-color);
  border: none;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  object-fit: cover;
  width: 30px;
  padding: 5px;
}
.button:hover {
  background-color: var(--button-color-hover);
}
.mood-rect {
  width: 420px;
  padding: 20px;
  background-color: var(--extra-color); 
  display: flex;
  gap: 20px;
  border-radius: 10px;
  border: 2px solid #1d84b5;
}
.mood-rect img {
  width: 60px;
  height: auto;
}

.button-hidden {
  display: none;
}

h1 {
  color: var(--text-color);
  font-family: var(--font-family);
}